
.boxes{
  display: grid;
  padding: 0rem 5rem;
  grid-gap:3vw;
  grid-template-areas: 
  'box1 box1 box2'
  'box3 box3 box3'
  ;
}

.box1{
  width: 57vw;
  height: 60vh;
  grid-area: box1;
  margin: none !important;
}

.box2{
 width: 29vw;
  grid-area: box2;

}

.box3{
  height: 15vh;
  grid-area: box3;
}

@media screen and (max-width:720px) {
  .boxes{
    
    display: flex;
    flex-direction: column;
    
  
  }
  .box1{
   width: 100%;
   margin-bottom: 160px;
  }
  .box2{
   width: 100%;
  }
  .box3{
   width: 100%;
  }
}